* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100vh;
    font-family: 'POPPINS';
}


#trackInfo,
#volumeInterface,
#controlPanel,
#trackList {
    color: rgb(203, 201, 201);
    background-color: rgb(0, 0, 76, 0.7);
    padding: 15px;
    border-radius: 12px;
    /* border: aqua 1px solid; */
}

.night {
    background-color: rgb(1, 1, 39);

}

.day {
    background-color: rgba(6, 139, 248, 0.3);
}

#mainBadger img {
    /* display: none; */
    position: relative;
    height: 100vh;
    z-index: 20;
}

#mainInterface {
    position: relative;
    flex-grow: 1;
    max-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#mainInterface div {
    position: relative;
    z-index: 20;
    margin-bottom: 10px;

}

/* class switch pour afficher cacher switcher des élements (boutons play/pause) */
.hide {
    display: none;
}


#controlPanel {
    padding: 10px;
    min-width: 350px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#controlPanel button {

    color: rgb(155, 154, 154);
    background: none;
    border: none;
    font-size: 35px;
}

#muteBtn,
#volumeInterface label {

    color: rgb(171, 170, 170);
    background: none;
    border: none;
    font-size: 30px;
}

#controlPanel button:hover,
#muteBtn:hover {
    color: rgb(212, 208, 208);
}

#trackInfo {
    min-width: 300px;
    width: 40%;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#trackImg {
    margin: auto;
    padding: 10px;
    width: 250px;
    max-width: 70%;
    height: auto;
    border-radius: 30% 70% 40% 30% / 30% 30% 70% 70%;
}

#trackData {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 5px;
}

#trackData h3 {
    padding-top: 20px;
}

#artistLine {
    padding: 5px;
}

#trackTime {
    padding: 5px;
}

#volumeInterface {
    padding: 10px;
    min-width: 350px;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#trackList {
    min-width: 350px;
    width: 85%;
    min-height: 25%;
    height: auto;
    overflow-y: scroll;

}



#trackList h3 {
    text-align: center;
    padding-bottom: 10px;
}

.playingNow {
    border-radius: 8px;
    box-shadow: 4px 3px 10px rgba(0, 225, 255, 0.474);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr td {
    font-size: 12px;
    padding: 5px;
    padding-left: 10px;
    min-width: 60px;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
width: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    box-shadow: 0 0px 8px  rgba(0, 225, 255, 1); 
    border-radius: 10px;
}
    
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:  rgba(0, 225, 255, 1);
}

/* CURSOR */
table {
    cursor: default;
}

/* ANIMATION VAGUES */

#waves {
    background: none;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.waves-box {
    position: relative;
}

#wave01 {
    position: absolute;
    bottom: -100px;
    opacity: 1;
    z-index: 2;
    width: 2500px;

}

.animateWave01 {
    animation: wave01 5s -.125s infinite;
}

.closingWave01 {
    animation-play-state: paused;
}

@keyframes wave01 {
    0% {
        left: 0px;
        bottom: -100px;
    }

    50% {
        left: -600px;
        bottom: -30px;
    }

    100% {
        left: 0px;
        bottom: -100px;
    }
}

#wave02 {
    width: 3000px;
    position: relative;
    right: 0px;
    bottom: -10px;
    opacity: 0.7;

}

.animateWave02 {
    animation: wave02 9s -.125s infinite;
}

.closingWave02 {
    animation-play-state: paused;
}

@keyframes wave02 {
    0% {
        right: 0;
        bottom: -10px;
    }

    50% {
        right: 600px;
        bottom: -50px;
    }

    100% {
        right: 0;
        bottom: -10px;
    }

}

/* 
/* MEDIA QUERIES
/*
/* DESKTOP */
/* affichage de base en mode desktop supérieur à 1290px de large pour plus de 920px de haut
*/

@media screen and (min-width:1200px) and (max-width:1290px) and (min-height: 920px) {
    #mainBadger img {
        display: none;
    }
}

@media screen and (max-width:1280px) and (max-height: 850px) {

    #trackInfo div {
        margin: 0px;
        padding: 0px;
    }

    #mainInterface i {
        font-size: 30px;
    }
}


@media screen and (max-width:1024px) and (max-height: 800px) {
    body {
        font-size: 15px;
    }

    #mainBadger {
        display: none;
    }

    #mainInterface i {
        font-size: 30px;
    }

    #trackData {
        width: 350px;
    }

    #trackImg {
        height: 200px;
        width: 200px;
    }


}

/* TABLET */

@media screen and (orientation: portrait) {
    #mainBadger {
        display: none;
    }

    #trackList {
        min-height: 40%;
    }
}


/* I-pad Pro (12.9 inch) */
@media screen and (width: 1366px) and (height: 1024px) {
    #mainBadger {
        display: none;
    }
}

/* I-pad Pro (10.5 inch) */
@media screen and (width: 1112px) and (height: 834px) {
    #mainBadger {
        display: none;
    }
}

/* Nexus 7 */
@media screen and (orientation: landscape) and (width: 960px) and (height: 600px) {

    #mainInterface {
        min-height: 100%;
        max-height: 100%;
        padding: 4%;
        display: flex;
        flex-flow: column wrap;

    }

    #trackInfo,
    #volumeInterface,
    #controlPanel {
        min-width: 0;
        max-width: 30%;
    }

    #trackList {
        height: 100%;
        min-width: 50%;
        max-width: 60%;
        font-size: 14px;
    }
}

/* PHONES */

@media screen and (max-width: 420px) and (orientation: portrait){

    body {
        font-size: 10px;
    }

    #mainInterface i {
        font-size: 25px;
        bottom: -5px;
    }

    #mainInterface div{
        min-width: auto;
        width: 95%;
    }

    #trackInfo{
        max-height: 33%;
        justify-content: space-around;
        font-size: 15px;

    }

    #trackData {
        max-height: 80%;
        display: flex;
        flex-flow: column;
        align-items: center;

    }

    
    #trackData #trackImgContainer{
        flex-grow: 2;
        max-height: 70%;
    }

    #trackData #trackImgContainer #trackImg{
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    #trackInfo #trackTime{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #trackTime input {
        margin: 0px 25px;
    }

    #trackData h3 {
        margin: 0px;
        padding: 0px;
    }

    #controlPanel,
    #volumeInterface {
        padding: 5px;
        margin: 0;
    }

    #volumeInterface i {
        position: relative;
        bottom: 4px;
    }

    #controlPanel i {
        position: relative;
        bottom: 5px;
    }

    #trackList {
        height: 40%;
    }

    #trackList h3{
        font-size: 15px;
    }

    #trackDurationContainer{
        display:none;
    }
}

/* PHONE LANDSCAPE */

@media screen and (orientation: landscape) and (max-height: 420px){

    #mainInterface {
        min-height: 100%;
        max-height: 100%;
        padding: 1%;
        display: flex;
        flex-flow: column wrap;
        
    }

    #mainInterface i {
        font-size: 20px;
    }
    
    #trackInfo,
    #volumeInterface,
    #controlPanel {
        margin: 0;
        padding: 0;
        min-width: 0;
        max-width: 35%;
    }
    
    #trackData{
        font-size: 12px;
        width: 100%;
        margin: 0;
        padding: 0;
        
    }

    #trackData img{
        height: 150px;
        width: 150px;
    }

    #trackData h3 {
        margin: 0;
        padding: 0px;
        /* border: solid 1px red; */
    }
    
    #trackDurationContainer{
        display:none;
    }

    #controlPanel i{
        position: relative;
        bottom: 5px;
    }

    #trackList {
        height: 100%;
        min-width: 50%;
        max-width: 60%;
        font-size: 12px;
    }


}




