* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    min-height: 100vh;
    font-family: 'POPPINS';
}

#trackInfo, #volumeInterface, #controlPanel, #trackList {
    color: rgb(203, 201, 201);
    background-color: rgb(0, 0, 76, 0.7);
    padding: 20px;
    border-radius: 12px;
    /* border: aqua 1px solid; */
}

.night{
    background-color: rgb(1, 1, 39);

}

.day{
    background-color: rgba(6, 139, 248, 0.3);
}

#mainBadger img {
    position: relative;
    height: 100vh;
    z-index: 20;
}

#mainInterface {
    position: relative;
    /* background-color: rgb(1, 1, 39);
    background-color: rgba(13, 134, 233, 0.3); */

    flex-grow: 1;
    height: 100vh;
    /* border: 3px solid pink; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
    /* background-image: url('../../img/wave.svg'); */
    /* background-repeat: no-repeat; */
    /* background-position: bottom; */
    /* background-size: cover; */
}

#mainInterface div {
    position: relative;
    z-index: 20;
}

/* class switch pour afficher cacher switcher des élements (boutons play/pause) */
.hide {
    display: none;
}


#controlPanel {
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#controlPanel button {

    color: rgb(155, 154, 154);
    background: none;
    border: none;
    font-size: 35px;
}

#muteBtn,
#volumeInterface label {

    color: rgb(171, 170, 170);
    background: none;
    border: none;
    font-size: 30px;
}

#controlPanel button:hover,
#muteBtn:hover {
    color: rgb(212, 208, 208);
}

#trackInfo {
    padding: 0px;
    text-align: center;
    /* border: 1px solid pink; */
}

#trackImg {
    padding: 10px;
    width: 250px;
    height: 250px;
    border-radius: 30% 70% 40% 30% / 30% 30% 70% 70% ;
}

#trackData {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 5px;
    /* border: 1px solid aqua; */
}

#trackData h3 {
    padding-top: 20px;
}

#artistLine {
    padding: 5px;
}

#trackTime {
    padding: 5px;
}

#volumeInterface {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#trackList {
    width: 80%;
}

#trackList h3 {
    text-align: center;
    padding-bottom: 10px;
}

.playingNow {
    border-radius: 8px;
    box-shadow: 4px 3px 10px rgba(0, 225, 255, 0.474);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr td {
    padding: 5px;
    padding-left: 10px;
}

#waves {
    background: none;
    width: 100%;
    position: absolute;
    /* bottom: -21px; */
    bottom: 0px;
    z-index: 1;
}

.waves-box {
    position: relative;

    /* max-height: 400px; */
}

#wave01 {
    position: absolute;
    bottom: -10px;

    /* animation: wave01 5s -.125s infinite, swell 7s ease -1.25s infinite; */
    opacity: 1;
    z-index: 2;
}

.animateWave01{
    animation: wave01 5s -.125s infinite, swell 7s ease -1.25s infinite;
}

.closingWave01{
    animation-play-state: paused;
}

@keyframes wave01 {
    0% {
        left: 0px;
    }

    50% {
        left: -600px;
    }

    100% {
        left: 0px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(250px, 20px, 0px);
    }

    50% {
        transform: translate3d(0, 0, 0);
    }
}

#wave02 {
    /* width:3700px; */
    position: relative;
    bottom: -10px;
    /* animation: wave02 9s -.125s infinite, swell 7s ease -1.25s infinite; */
    opacity: 0.7;

}

.animateWave02{
    animation: wave02 9s -.125s infinite, swell 7s ease -1.25s infinite;
}

.closingWave02{
    animation-play-state: paused;
}

@keyframes wave02 {
    0% {
        right: 0;
    }

    50% {
        right: -600px;
        bottom: -20px;
    }

    100% {
        right: 0;
    }

}
