* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: row;
}

section div{
    background-color: rgb(255, 255, 255, 0.6);
}

#mainBadger img{
    height: 100vh;
}

#mainInterface{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

/* class switch pour afficher cacher switcher des élements (boutons play/pause) */
.hide {
    display: none;
}

#controlPanel {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


#trackImg {
    width: 250px;
    height: 250px;
}

#trackList {
    margin-top: 25px;
    width: 50%;
}

.playingNow {
    background-color: rgb(189, 187, 187);
}

table {
    width: 100%;
    border-collapse: collapse;
}

